#modal_form1 {
    width: 400px;
    height: 240px;
    border-radius: 5px;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    background: #fff;
    border: 3px solid #222;
}

#modal_form1 #modal_close1 {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    color: white;
}


#overlay1 {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    cursor:pointer;
    display:none;
}

/* -------------------- */

#modal_form2 {
    width: 400px;
    height: 370px;
    border-radius: 5px;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 20px 10px;
    background: black;
    border: 3px solid red;
}


#modal_form2 #modal_close2 {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
    color: white;
}


#overlay2 {
    z-index:3;
    position:fixed;
    background-color:#000;
    opacity:0.8;
    -moz-opacity:0.8;
    filter:alpha(opacity=80);
    width:100%;
    height:100%;
    top:0;
    cursor:pointer;
    display:none;
}

.input-login {
    float: left;
}
.input-password {
    height: 79.5px;
}
.sign-btn:hover {
   background-color: #a6e1ec;
}