
.my-form-inline input[type="text"]{
    width: 100%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding-right: 15%;
}

.my-form-inline {
    position: relative;
    display: inline-block;
}
.my-navbar {
    float: right;
}

a.login {
    font-size: 18px; padding: 15px 15px; color: #a6e1ec;
    height: 34px;
    float: right;
}

a.register{
    height: 34px;
    font-size: 18px;  padding: 15px 15px;color: #a6e1ec;
    float: right;
}


.blog-sidebar-popular{
    float:right;
}
.sidebar-module-popular{
    margin-top:100px;
}
.second{
	float:left; margin-top: 100px; width: 500px;
}
.btn-sign{
    width:250px;
}
.btn-search:hover{
    background-color: #a6e1ec;
}
.btn-search {
    margin-top: 9%;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    background:white url("../static/search.png") no-repeat center;
}


.new_question_text{
    height: 100px;

}
.btn-new-question{
    float:right;
    width:100px;
}
.btn-new-question:hover{
    background-color: #a6e1ec;
}
textarea{
    resize: vertical;
}
.one-q{
    padding-top: 25px;
}
.panel-body2{
    width: 70px;
}
.p-foot{
    font-size: 18px;  padding: 15px 15px;
    float:right;
    color: #9d9d9d;
}
.nav-height{

   width: 100%;
   height: 55px;   /* Высота блока footer */
}
.margin-password{
    margin-top: 10px;
}
.color-head{
    color: #a6e1ec;
}
.img-head{
    margin: 10px 20px;

}
.row-head{
    text-align: center;
}
.btn-ask{
    width:150px;
    margin-left: 125px;
    /*border-radius: 0px;*/
    color: #222;
    background-color: #a6e1ec;
    font-size: 18px;
    height: 34px;
    position: relative;
}
p {
    word-wrap: break-word;
}
.btn-warning {
    color: #222;
    background-color: #a6e1ec;
    border-color: #2aabd2;
}
.btn-warning:hover {
    color: #222;
    background-color:lightskyblue;
    border-color: #2aabd2;
}

.btn-ask:hover {
    color: #a6e1ec;
    background-color:#222;
}
.panel-like {
    width:44px;
    height: 44px;
    float: left;
}
.btn-like {
    margin-left: 12px;
    background-color: #a6e1ec;
    border-color: #a6e1ec;
    color: black;
}
.btn-dislike {
    background-color: grey;
    border-color: grey;
}
.btn-dislike:focus{
    background-color: grey;
}
.btn-like:focus{
    background-color: #a6e1ec;
}
.btn-like:hover{
    background-color: #a6e1ec;
}
.btn-dislike:hover{
    background-color: grey;
    color: black;
}

.right-sidebar{
    padding-top: 25px;
    background-color: #f1f1f1;
    -webkit-transition: right 1s ease-out 0.1s;
    -moz-transition: right 1s ease-out 0.1s;
    -o-transition: right 1s ease-out 0.1s;
    transition: right 1s ease-out 0.1s
}
.sidebar-menu {
    float: right;

}

.navbar .my-sidebar .icon-bar{
    background-color: #a6e1ec;

}
h1 {
    width: 100%;
    position: relative;
    word-wrap: break-word;
}

.btn-success {
    background-color: #a6e1ec;
    color: black;
    border-color: #a6e1ec;
}
.btn-success:focus{
    background-color: #a6e1ec;
}
.btn-success:hover{
    background-color: #a6e1ec;
}

.outer-settings {
    width: 200%;
}
@media (max-width: 991px) {
    .btn-ask {
        margin-left: 10px;
    }
    #id_old_password{
        width: 300px;
    }
    #id_new_password{
        width: 300px;
    }
}

@media (max-width: 774px) {
    a.login {
        padding-top: 17px;
    }
    a.register {
        padding-top: 17px;
    }
}


@media (max-width: 767px) {
    .btn-ask {
        /*float: right;*/
        margin-top: 12px;
    }

    .img-head {
        float: left;
        margin-top: 12px;
        margin-right: 17px;
        max-width: 100%;
        position: relative;
    }

    .right-sidebar {
        position: fixed;
        right: -250px;
        width: 150px;
        height: 100%;
    }
    h1 {
        word-wrap: break-word;
    }
    .active {
        right: 0;
    }
    .my-navbar {
        float: left;
    }
    a.login{
        float: left;
        height: 10%;
    }
    a.register{
        float: left;
        margin-left: 5%;
    }
    .my-form-inline {
        float:left;
    }
    .xs-quest {
        width: 100%;
    }
    .inner-container {
        width: 100%;
    }
    .xs-third-rec {
        width: 100%;
    }
    .control-label {
        width: 70px;
    }
    #id_login{
        width: 250px;
    }
    #id_email{
        width: 250px;
    }#id_username{
        width: 250px;
    }
     #id_password{
        width: 250px;
    }
     #id_password2{
        width: 250px;
    }
    input[type="file"] {
        padding-left: 15px;
        margin-bottom: 5px;
    }

}
@media (max-width: 523px) {
    .my-navbar {
        float: left;
        width: 100%;
    }
    a.register {
        margin-left: 1.5%;
        padding-left: 0;
    }
    .general-container {
        width: 100%;
        position: relative;
        float:left;
        margin-left: 0;
    }
    .inner-container {
        width: 100%;
        position: relative;
        float: left;
        margin-left: 0;

        padding-left: 0;
    }
    .xs-row {
        width: 100%;
        position: relative;
        float: left;
        margin-left: 0;
    }
    .xs-quest {
        width: 100%;
        position: relative;
        padding-left: 0;
    }
    .xs-third-rec {
        width: 100%;
        position: relative;
        float: left;
        margin-left: 0;
        padding-left: 0;
    }
    .one-q {
        padding-left: 0;
    }
    .img-my {
        width: 75px;
        height: 75px;
    }
    .btn-like {
        margin-left: 13px;
        padding-left: 3px;
        padding-top: 2px;
        width: 25px;
        height: 26px;
    }
    .btn-dislike {
        margin-top: 3px;
        padding-left: 4px;
        padding-top: 2px;
        width: 25px;
        height: 26px;
    }

    h1 {
        font-size: 4vh;
        word-wrap: break-word;
    }
    p {
        /*font-size: 3vh;*/
    }
    #id_login{
        width: 180px;
    }
    #id_email{
        width: 180px;
    }#id_username{
        width: 180px;
    }
     #id_password{
        width: 180px;
    }
     #id_password2{
        width: 180px;
    }
    #id_old_password{
        width: 80%;
    }
    #id_new_password{
        width: 80%;
    }
}

@media (max-width: 431px) {
    .my-form-inline {
        width: 220px;
    }
}
@media (max-width: 409px) {
    .my-form-inline {
        width: 190px;
    }
    .btn-search {
        padding-top: 12px;
    }
}
@media (max-width: 379px) {
    .btn-ask {
        word-wrap: break-word;
        font-size: 3vh;
        width: 25%;
    }

}
@media (max-width: 345px) {

    .my-navbar {
        float: left;
        width: 100%;
    }
    a.register {
        margin-left: 1.5%;
        padding-left: 0;
    }
    .general-container {

        float:left;
        margin-left: 0;
    }
    .inner-container {
        width: 100%;
        position: relative;
        float: left;
        margin-left: 0;

        padding-left: 0;
    }
    .xs-row {
        float: left;
        margin-left: 0;
    }
    .xs-quest {
        width: 100%;
        position: relative;
        padding-left: 0;
    }
    .xs-third-rec {
        width: 100%;
        position: relative;
        float: left;
        margin-left: 0;
        padding-left: 0;
    }
    .one-q {
        padding-left: 0;
    }
    .img-my {
        width: 75px;
        height: 75px;
    }

    h1 {
        font-size: 3vh;
        width: 115px;
        word-wrap: break-word;
    }
    p {
        /*font-size: 3vh;*/
        width: 115px;
    }
    .control-label {
        width: 97px;
    }
    #id_login{
        width: 180px;
    }
    #id_email{
        width: 180px;
    }#id_username{
        width: 180px;
    }
     #id_password{
        width: 180px;
    }
     #id_password2{
        width: 180px;
    }
     .regist-dj-div {
         /*padding-left: 0;*/
         width: 40%;
     }


}
@media (max-width: 317px) {
    .btn-ask {
        font-size: 3vh;
    }
    .color-head {
        width: 85px;
    }
     .btn-like {
         width: 22px;
         height: 26px;
         font-size: 2vh;
    }
    .btn-dislike {
        width: 22px;
        height: 26px;
        font-size: 2vh;
    }
    .img-my {
        width: 65px;
        height: 65px;
    }
}
@media (max-width: 298px) {
    .btn-ask {
        font-size: 3vh;
        width: 20%;
    }
    .color-head {
        width: 75px;
    }
    h1 {
        padding-left: 4px;
    }
    p {
        padding-left: 4px;
    }
    nobr {
        padding-left: 4px;
    }
}
@media (max-width: 286px) {
    .btn-like {
        width: 20px;
        height: 26px;
    }
    .btn-dislike {
        width: 20px;
        height: 26px;
    }
    .img-my {
        width: 60px;
        height: 60px;
    }

}
