
<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand color-head" href="{% url 'question' %}">Supreme</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <form class="form-inline my-2 my-lg-0 my-form-inline">
            <input class="form-control mr-sm-2 " type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 btn-search" type="submit">Search</button>
            <a class="btn btn-outline-success my-2 my-sm-0 btn-ask" href = "{% url 'new_question' %}" type="submit">Ask a Question</a>
            <img width="35" height="35" class="img-rounded img-head" src= "/{{ user.profile.avatar }}">
            <a class = "login" href = "{% url 'settings' %}">settings</a>
            <a class = "register" href = "{% url 'logout' %}">log out</a>
            </form>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
