{% extends "base.html" %}
{% block title %}NewQuestion{% endblock %}
{% block styles %}
{% comment %}<link href="../static/sign_in_style.css" rel="stylesheet">{% endcomment %}
{% endblock %}
{% block content %}
    <div class="col-md-12">
    <h3>New Question</h3>


        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title<em>*</em></label>
                {{ form.title }}
            </div>

            <div class="form-group">
                <label for="text">Text: </label>
                {{ form.text }}
            </div>

             <div class="form-group ">

{#                 {{ tag_form }}#}
{#                 <br>#}
{#                 <br>#}
                 <label for="tag">Tags: </label>
                 {{ form.tags }}

             </div>
            <button type="submit" class="btn btn-primary">Ask</button>

         </form>
    </div>




{% endblock %}



