{% extends "base.html" %}
{% block title %}Questions{% endblock %}
{% block styles %}
{% comment %}<link href="../static/sign_in_style.css" rel="stylesheet">{% endcomment %}
{% endblock %}

{% block content %}

<div class = "container inner-container">
    <div class="col-lg 6 col-md-6 col-sm-8 col-xs-8 xs-quest">
        <div class="row row-head" >
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 in-row-head">
                <a href="{% url 'question' %}"><h1>Questions</h1></a>
            </div>
        </div>
        <div id = "cont">
            {% for data in data %}
                {% include "question_template.html" %}
            {%endfor%}
        </div>


{#        {% if data.has_next %}#}
{#            <div class="col-sm-12 col-xs-12" style="margin-top: 20px" id="btn{{ data.next_page_number }}">#}
{#                <button class="btn btn-warning" onclick="scr({{ data.next_page_number }}, '{{ data.has_next }}')">More</button>#}
{#            </div>#}
{#        {% endif %}#}
    </div>
</div>

{% endblock %}

